
body,legend,label{
    color: white;
   background-color: black;
}


.content  {

    text-align: center;
}

.container {
    margin: 10em auto;
    line-height: 2em;
    width: 40%;
   

}

.table-container {
/*    width: 100%;
    margin: 0 auto;*/
}

.separator {
    display: block;
    margin: .5em
}

.button-align {
    /*margin-left: 8em*/
    /*width: 5%*/
}

.button {
    background-color: #990099;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica
}

/* 
    Table Borders 
*/

.table {
    margin: 0 auto;
    max-width:100%;
    margin-bottom:20px
}

.table>tbody>tr>td, 
.table>tbody>tr>th {
    padding:8px;
    line-height:1.42857143;
    vertical-align:top;
    border-top:1px solid #ddd
}

#table-custom {
    width: 80%;
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 2.5em
}

#table-custom td, #table-custom th {
    border: 1px solid #ddd;
    padding: 8px
}

#table-custom tr:nth-child(even) {
    background-color: #f2f2f2
}

#table-custom tr:hover {
    background-color: #ddd
}

#table-custom th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #990099;
    color: white
}

